.App {
  text-align: center;
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #efefef;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.addGroup {
  margin-left: 40px;
}

.addGroup input {
  height: 24px;
  border: none;
  padding: 0 10px 0 10px;
}

.addGroup.hidden {
  display: none;
}

.addGroup.visible {
  display: block;
}

.create {
  background-color: transparent;
  border: none;
  font-size: 30px;
}

.confirm {
  background-color: #3388d2;
  border: none;
  height: 25px;
  color: white;
  font-size: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

.header img {
  height: 25px;
}

ul {
  display: flex;
  flex-direction: column-reverse;
}