.App {
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #efefef;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.addGroup {
  margin-left: 40px;
}

.addGroup input {
  height: 25px;
  border: none;
  padding: 0 55px 0 10px;
}

.addGroup.hidden {
  display: none;
}

.addGroup.visible {
  display: block;
}

.create {
  background-color: transparent;
  font-size: 30px;
}

.confirm {
  background-color: white;
  height: 22px;
  color: #3388d2;
  font-size: 10px;
  margin-left: -55px;
  border: none;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  background-color: #3388d2;
}

.header h1 {
  color: white;
}

.header img {
  height: 25px;
}

.mainlist > li:nth-child(even) {
  border-bottom: 1px solid #3388d2;
  background-color: #f1f1f1;
}

.mainlist > li:nth-child(odd) {
  border-bottom: 1px solid #3388d2;
  background-color: white;
}

.mainlist > li:last-child {
  border: none;
}